.page {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 696px;
  min-width: 375px;
  background-color: var(--background-color);
  font-size: 18px;
}

.page::before {
  content: "";
  background-image: repeating-linear-gradient(90deg,var(--gradient-color) 0 2px, transparent 2px 4px), 
                    repeating-linear-gradient(var(--gradient-color) 0 2px, transparent 2px 4px),
                    var(--header-background-gradient) ;  
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: max(100%, 375px);
  min-height: 667px;
  z-index: -1;
  box-shadow: 0 4px 4px var(--font-color-base-lite);
  outline: 1px solid var(--font-color-base);
}

@media screen and ( width > 696px ) {
  .page::before {   
    background-position: center, center;
    min-height: max(667px, 66.7vw);
    width: 100%;
  }
}

.button {
  background: none;
  padding: 0;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 90%;
  position: relative;
  z-index: 10;
  display: block;
  cursor: pointer;
  color: var(--font-color-base);
}

.button,
.button:focus {
  border: none;
  outline: none;
}

.button:hover {
  opacity: .6;
  transition: all .3s ease;
  text-shadow: 0 4px 4px var(--font-color-base-lite);
}

.button:focus-visible {
  outline: none;
  text-shadow: 0 4px 4px var(--font-color-base-lite);
}

.button:disabled {
  opacity: .6;
  transition: all 0.3s ease;
  pointer-events: none; 
}

.button__text {
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 90%;
  opacity: 1;  
  color: var(--color-for-like); 
  mix-blend-mode: difference;
}

.header__card {
  background-color: var(--background-color);
  min-height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  margin-block-start: 100px;
  text-align: center;
  border: 2px solid var(--font-color-base);
}

.header__title {
  display: block;
  font-size: var(--font-title-size);
  margin-inline: auto;
  padding-block-start: clamp(7.5rem, 7.126rem + 1.596vw, 8.563rem);
  text-transform: uppercase;
  text-decoration: none;
}

.header__title:focus-visible {
  outline: none;
}

.header__subtitle,
.header__title {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  line-height: 100%;
  opacity: 1;
  text-align: center;
}

.header__subtitle {
  font-size: var(--font-subtitle-size);
  margin-block: 20px 25px;
  text-transform: uppercase;
}

.theme-menu {
  gap: 25px
}

.theme-menu,
.theme-menu__list {
  display: flex;
  flex-direction: column;
}

.theme-menu__list {
  align-items: start;
  gap: 12px;
  margin-inline: auto;
  margin-block-end: 25px;
}

.theme-menu__button {
  line-height: 100%;
  opacity: 1;
  text-align: start;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.theme-menu__button::before {
  content: "▶";
  color: transparent;
  margin-inline-end: 4px;
}

.button[disabled].theme-menu__button::before {
  color: var(--font-color-base);
  animation: activeArrow .5s ease-in-out infinite alternate;
}

.theme-menu__button:hover::before,
.theme-menu__button:focus-visible::before {
  text-shadow:none;
  background-color: transparent;
}

.theme-menu__button::after {
  content: "";
  background-color:var(--font-color-base);
  display: block;
  height: 2px;
  width: 0;
}

.theme-menu__button:focus-visible::after {
  margin-inline-start: 17px;
  opacity: .6;
  animation: changeUnderline .5s ease-in-out forwards;
}

.theme-menu__button:focus-visible {
   opacity: .6;
}

.theme-menu__item {
  list-style-type: none;
  margin-inline-start: 0;
}

.main {
  margin-block-start: 100px;
}

.main,
.main__card-list {
  display: flex;
  flex-direction: column;
  gap: 50px
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--font-color-base);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 100vw;
  inline-size: 100%;
  position: relative;
  align-items: center;
}

@media screen and (width > 696px) {
  .card {
    grid-template-rows: 33px 696px minmax(100px, 1fr);
    inline-size: 696px;
  }
}

.card__title {
  color: var(--font-color-base);
  font-family: var(--font-family-card);
  font-size: var(--font-card-size);
  font-variation-settings: "wght" 785;
  font-weight: 700;
  grid-column: 1/-1;
  grid-row: 1;
  line-height: 20px;
  opacity: 1;
  margin-inline: 10px;
  margin-block: 6px;
}

.card__image-box {
  border-top: 2px solid var(--font-color-base);
  border-bottom: 2px solid var(--font-color-base);
  box-shadow: 0 4px 4px var(--font-color-base-lite);
  grid-column: 1/-1;
  grid-row: 2;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__image {
  object-fit: cover; 
  object-position: center; 
  width: 100%;
  height: 100%;
}

.card__image_filter_blur {
  filter:blur(5px);
}

.card__image_filter_brightness {
  filter: brightness(140%);
}

.card__image_filter_contrast {
  filter: contrast(150%);
}

.card__image_filter_grayscale {
  filter: grayscale(.7);
}

.card__image_filter_saturate {
  filter: saturate(60%);
}

.card__image_filter_sepia {
  filter: sepia(100%);
}

.card__image_filter_hue-rotate {
  filter: hue-rotate(50deg);
}

.card__image_filter_invert {
  filter: invert(90%);
}

.card__water-mark {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  inset-block-start: 25px;
  inset-inline-end: 12px;
  line-height: 100%;
  opacity: .5;
  background-blend-mode: hard-light;
  position: absolute;
  text-shadow: 1px 0 1px var(--background-color), 
               0 1px 1px var(--background-color), 
               -1px 0 1px var(--background-color), 
               0 -1px 1px var(--background-color);
  text-transform: uppercase;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__water-mark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__content {
  display: grid;
  grid-column: 1/-1;
  grid-row: 3;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px;
  row-gap: 25px;
}

.card__paragraph {
  color: var(--font-color-base);
  font-family: var(--font-family-card);
  font-variation-settings: "wght" 400;
  font-size: var(--font-card-size);
  font-weight: var(--font-weight-base);
  grid-column: 1/-1;
  grid-row: 1;
  line-height: 21px;
  opacity: 1;
  padding-block-end: 27px;
}

.card__button-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-self: self-end;
  align-self: center;
}

.card__icon-button {
  margin-inline-end: 7px;
  transition: border 0.3s ease;
  box-sizing: border-box;
  height: 38px;
  width: 38px; 
}

.like-icon {
  margin-inline: auto;  
  transition: all 0.3s ease;
}

.card__like-button {
  border: 2px solid var(--color-for-like);
  height: 38px;
  width: 130px;  
  line-height: 38px;
  overflow: hidden;
  color: var( --font-color-base);  
  transition: all 0.3s ease;
  mix-blend-mode: difference;
}

.save-button {    
  overflow: hidden;
  border: 2px solid var(--color-for-like);
  height: 80px;
  margin-block-end: 100px;
  margin-inline: auto;
  width: 306px;  
  color: var( --font-color-base);  
  transition: all 0.5s ease-in-out;
  mix-blend-mode: difference;
}

@media screen and (width > 696px) {
  .save-button {    
    height: 55px;
    width: 335px;
  }
}

.save-button__content {
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  height: 100%;
}

@media screen and (width > 696px) {
  .save-button__content {
    flex-direction: row;
    justify-content: start;
  }
}

.save-button__icon {
  height: 28px;
  margin-block-end: 8px;
  width: 28px;  
  fill: var(--color-for-like);
  stroke: var(--color-for-like);
  transition: all 0.5s ease-in-out;
}

@media screen and ( width > 696px) {
  .save-button__icon {
    margin-inline: 19px 8px; 
    margin-block: auto;
    height: 21px;
    width: 21px; 
  }
}

#floppy {
  fill: var(--color-svg-base);
}

.dialog {
  background-color: var(--background-color);
  border-width: 2px;
  box-sizing: border-box;
  min-height: 195px;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: opacity 3s ease-in-out;
  width: 341px;
}

@media screen and ( width > 696px ) {
  .dialog {
    width: 357px;
  }
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none
}

.dialog::backdrop {
  background-color: #000;
  opacity: .75;
}

.dialog__content {
  column-gap: 20px;
  gap: 30px;
  display: grid;  
  grid-template-columns: 59px 1fr;
  margin-block: 30px;
  margin-inline: 42px;
}

@media screen and ( width > 696px ) {
  .dialog__content {
    margin-inline: 30px;
  }
}

.dialog__icon {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  height: 39px;
  margin-inline: auto;
  width: 39px;
}

.dialog__title {
  grid-column: 2;
  grid-row: 1;  
  color: var(--font-color-base);
}

.dialog__button,
.dialog__title {  
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 150%;
  opacity: 1;
  text-transform: uppercase;
}

.dialog__button {
  overflow: hidden;
  color: var(--color-for-like);
  border: 2px solid var(--color-for-like);
  width: 100%;
  height: 38px;
  mix-blend-mode: difference;
}

.dialog__button-content .button__text {
  display: block;
  padding-top: 12px;
}

.dialog__form {
  grid-column: 1/-1;
  grid-row: 2;
}
