@import "./variables.css";
@import "./themes.css";

.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-inline: auto;
  max-width: 696px;
  min-width: 375px;
  background-color: var(--background-color);
  font-size: 18px;
}

.button {
  background: none;
  padding: 0;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 90%;
  position: relative;
  z-index: 10;
  display: block;
}

.button,
.button:focus {
  border: 0 solid transparent;
}

.button:hover {
  cursor: pointer;
  color: color-mix(in lch, var(--font-color-base), transparent 25%);
  text-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
}

.button:focus-visible {
  outline: none;
  text-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
}

.button__text {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 90%;
  opacity: 1;
}


.page__background {
  background-image: var(--background-image),  var(--header-background-gradient) ;
  background-position: 50%, 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 197vw;
  z-index: -1;
  box-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
  outline: 1px solid var(--font-color-base);
}

@media screen and ( width > 696px ) {
  .page__background {   
    background-position: center, center;
    height: max(667px, 66.7vw);
  }
}

.header__card {
  background-color: var(--background-color);
  height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  margin-block-start: 100px;
  text-align: center;
  border: 2px solid var(--font-color-base);
}

.header__title {
  display: block;
  font-size: var(--font-title-size);
  margin-inline: auto;
  padding-block-start: clamp(7.5rem, 7.126rem + 1.596vw, 8.563rem);
  text-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
  text-transform: uppercase
}

.header__subtitle,
.header__title {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  line-height: 100%;
  opacity: 1;
  text-align: center;
}

.header__subtitle {
  font-size: var(--font-subtitle-size);
  margin-block-end: 25px;
  margin-block-start: 20px;
  text-transform: uppercase;
}

.theme-menu {
  gap: 25px
}

.theme-menu,
.theme-menu__list {
  display: flex;
  flex-direction: column;
}

.theme-menu__list {
  align-items: start;
  gap: 14px;
  margin-inline: auto;
  margin-block-end: 25px;
}

.theme-menu__button {
  background: none;
  border: none;
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 100%;
  opacity: 1;
  padding: 0;
  text-align: start;
  text-transform: uppercase;
}

.theme-menu__button:focus {
  border: none;
  
}


.theme-menu__button::before {
  content: "▶";
  color: transparent;
  margin-inline-end: 7px;
}


.theme-menu__button[disabled] {
  opacity: .6;
}

.theme-menu__button[disabled]::before {
  color: var(--font-color-base);
  animation: activeArrow 1s ease-in-out infinite;
}

.theme-menu__button:active {
  opacity: .6;
}

.theme-menu__button:hover {
  cursor: pointer;
  text-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
}

.theme-menu__button:hover::before {
  color: transparent;
  text-shadow:none;
}


.theme-menu__button:focus-visible {
  outline: none;
  text-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%)
}

.theme-menu__item {
  list-style-type: none;
  margin-inline-start: 0;
  height: 14px;
}

.main {
  margin-block-start: 50px;
}

.main,
.main__card-list {
  display: flex;
  flex-direction: column;
  gap: 50px
}


@media screen and (width < 696px) {
  .card {
    background-color: var(--background-color);
    border: 2px solid var(--font-color-base);
    box-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 100vw;
    inline-size: 100%;
    position: relative;
    align-items: center;
  }
}

@media screen and (width > 696px) {
  .card {
    background-color: var(--background-color);
    border: 2px solid var(--font-color-base);
    box-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 33px 696px minmax(100px, 1fr);
    inline-size: 696px;
    position: relative;
    align-items: center;
  }
}

.card__title {
  color: var(--font-color-base);
  font-family: var(--font-family-card);
  font-size: var(--font-card-size);
  font-weight: 700;
  grid-column: 1/-1;
  grid-row: 1;
  line-height: 20px;
  opacity: 1;
  text-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
  margin-inline: 10px;
  margin-block: 6px;
}

.card__image-box {
  border-top: 2px solid var(--font-color-base);
  border-bottom: 2px solid var(--font-color-base);
  box-shadow: 0 4px 4px color-mix(in lch, var(--font-color-base), transparent 25%);
  grid-column: 1/-1;
  grid-row: 2;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__image {
  /* object-fit: contain;
  object-position: center; */
  width: 100%;
  height: 100%;
}

.card__image_filter_0 {
  filter:blur(5px);
}

.card__image_filter_1 {
  filter: brightness(140%);
}

.card__image_filter_2 {
  filter: contrast(150%);
}

.card__image_filter_3 {
  filter: grayscale(.7);
}

.card__image_filter_4 {
  filter: saturate(60%);
}

.card__image_filter_5 {
  filter: sepia(100%);
}

.card__image_filter_6 {
  filter: hue-rotate(50deg);
}

.card__image_filter_7 {
  filter: invert(90%);
}

.card__water-mark {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  inset-block-start: 25px;
  inset-inline-end: 12px;
  line-height: 100%;
  opacity: 1;
  position: absolute;
  text-shadow: 1px 0 1px var(--background-color), 
               0 1px 1px var(--background-color), 
               -1px 0 1px var(--background-color), 
               0 -1px 1px var(--background-color);
  text-transform: uppercase;
}

.card__content {
  display: grid;
  grid-column: 1/-1;
  grid-row: 3;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 38px;
  padding: 25px;
  row-gap: 25px;
}

.card__paragraph {
  color: var(--font-color-base);
  font-family: var(--font-family-card);
  font-size: var(--font-card-size);
  font-weight: var(--font-weight-base);
  grid-column: 1/-1;
  grid-row: 1;
  line-height: 21px;
  opacity: 1;
  padding-block-end: 27px;
}

.card__button-container {
  grid-column: 2;
  grid-row: 2;
  justify-self: self-end;
  align-self: center;
  display: flex;
}

.card__icon-button {
  margin-inline-end: 9px;
  transition border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--font-color-base);
} 

.like-icon {
  margin-inline: auto;
  width: 33px;
}

.like-icon__contour {
  fill: var(--color-svg-base);
  stroke: var(--color-svg-base);
  transition: all 0.1s linear;
}

.like-icon__content {
  fill: var(--color-svg);
  transition: all 0.3s linear 0.05s;
}

.like-icon__center {
  fill: var(--color-svg);
  transition: all 0.3s linear 0.05s;
}

.like-icon__aura {
  fill: var(--color-svg);
 
}

#heart:hover .like-icon__content{
  fill: var(--color-svg-base);
  stroke: var(--color-svg-base);
  transition: all 0.3s linear;
}

#heart:hover .like-icon__center {
  fill: var(--color-svg-base);
  stroke: var(--color-svg-base);
  transition: all 0.3s  0.03s;
}

#heart:active .like-icon__center {
  fill: red;
  stroke: red;
  transition: all 0.3s linear ;
}



#heart:active .like-icon__contour {
  fill: red;
  stroke: red;
  transition: all 0.3s linear 0.2s ;
}

#heart:active .like-icon__content {
  fill: red;
  stroke: red;
  transition: all 0.3s linear 0.2s;
}


#heart:active {
  transform-origin: center;
  animation: changeSizeSVG .3s ease-in 1s ;

}

#heart:active .like-icon__aura {
  
  --color-svg-base: red;
  /* stroke: red; */
  /* transition: all 0.3s ease-in 1.2s; */
  animation: changeColorSVG .3s ease-in  1.2s;
}

.card__like-button {
  border: 2px solid var(--font-color-base);
  height: 38px;
  width: 130px;  
  line-height: 38px;
  position: relative;
  color: var(--font-color-base);
}

.card__like-button:hover .button__text {
  box-shadow: 2px 2px var(--font-color-base);
  animation: changeColor .5s ease-in-out forwards;
}


.card__like-button:hover .button__text::after{
  animation: changeBacground .5s ease-in-out forwards;
}

.button__text::after {
  content: "";
  display: block;
  background-color: var(--font-color-base);
  width: 0;
  top:-.5px;
  position: relative;
  transform: translate(0, -110%);
  height: 100%;
  z-index:-1;
}

.card__like-button:focus-visible {
  border: 2px solid var(--font-color-base);
  box-shadow: 2px 2px var(--font-color-base);
}

.save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--font-color-base);
  height: 80px;
  margin-block-end: 100px;
  margin-inline: auto;
  width: 306px; 
  gap: 0;
}

@media screen and (width > 696px) {
  .save-button {
    flex-direction: row;
    justify-content: start;
    height: 55px;
    width: 335px;
  }
}

.save-button:focus-visible {
  border: 2px solid var(--font-color-base);
  box-shadow: 2px 2px var(--font-color-base);
}

.save-button:hover {
  box-shadow: 2px 2px var(--font-color-base);
}


.save-button__icon {
  height: 28px;
  margin-block-end: 8px;
  width: 28px;  
}

@media screen and ( width > 696px) {
  .save-button__icon {
    margin-inline: 19px 8px; 
    margin-block: auto;
    height: 21px;
    width: 21px; 
  }
}

#floppy {
  fill: var(--color-svg-base);
}

.save-button__lable {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 90%;
  opacity: 1;
  letter-spacing: 0%;
}

.dialog {
  background: url(../../images/background2.png) no-repeat 50%/cover;
  background-color: var(--background-color);
  border-width: 2px;
  box-sizing: border-box;
  height: 195px;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 3s ease-in-out;
  width: 341px;
  z-index: -2;
}

@media screen and ( width > 696px ) {
  .dialog {
    width: 357px;
  }
}

.dialog::after {
  background: var(--header-background-gradient) no-repeat 50%/cover;
  content: "";
  display: block;
  height: 191px;
  left: 0;
  opacity: .25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none
}

.dialog::backdrop {
  background-color: #000;
  opacity: .75;
}

.dialog__content {
  column-gap: 20px;
  row-gap: 30px;
  display: grid;
  grid-template-columns: 59px 1fr;
  grid-template-rows: 1fr 38px;
  margin-block: 30px;
  margin-inline: 42px;
}

@media screen and ( width > 696px ) {
  .dialog__content {
    margin-inline: 30px;
  }
}

.dialog__content .button {
  border: 2px solid var(--font-color-base);
}

.dialog__content .button:hover {
  box-shadow: 2px 2px var(--font-color-base);
}

.dialog__icon {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  height: 39px;
  margin-inline: auto;
  width: 39px;
}

.dialog__title {
  grid-column: 2;
  grid-row: 1;
}

.dialog__button,
.dialog__title {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: var(--font-weight-base);
  line-height: 150%;
  opacity: 1;
  text-transform: uppercase;
}

.dialog__button {
  border: 2px solid var(--font-color-base);
  grid-column: 1/-1;
  grid-row: 2;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0;
}



@keyframes changeBacground {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes changeColor {
  0% {
    color: var(--font-color-base);
  }

  100% {
    color: var(--background-color);
  }
}

@keyframes changeColorSVG {
  0% {
    fill: var(--color-svg);
    stroke: var(--color-svg);
    
  }

  100% {
    fill: var(--color-svg-base);
    stroke: var(--color-svg-base);
  }
}

@keyframes changeSizeSVG {
/*   0% {
    width: 27px;
    height: 24px;
  } */

  100% {
    transform:scale(1.2);
  }
}

@keyframes activeArrow {
  0% {
    margin-inline: 0 7px;
  }

  100% {
    margin-inline: 7px 0;
  }
}