/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --font-weight-base: 465;
  --font-weight-bold: 785;
  --font-color-base: #00CC14; 
  --font-color-base-lite: #00CC1440;
  --background-color: #000;
  --color-for-like:  #00CC14;
  --color-for-like-lite: #00CC1440;
  --background-image: url("../images/background.png");
  --block-size: 219vw;
  --inline-size: 100vw;
  --min-screen-width: 375px;
  --max-screen-width: 1440px;
  --max-block-width: 696px;
  --font-color-lite: color-mix(in lch var(--font-color-base), transparent 25%);
  --font-opacity: .6; 
  --font-title-size:  clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  --font-subtitle-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  --font-card-size: 18px;
  --font-family-base: 'PressStart2P', 'fantasy', sans-serif;
  --font-family-card: 'Inter-Variable', 'Arial', sans-serif;
  --line-height-base: 100%;
  --line-height-min: 90%;
  --line-height-card-title: 21px;
  --line-height-max: 150%;
  --gradient-color: #000;
  --header-background-gradient: linear-gradient( #007F0C, #004306 );
  --color-svg: var(--background-color);
  --color-svg-base: var(--font-color-base);
  --opacity-aura: 0;
}

:root.theme-light {
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --font-color-base: #000; 
  --font-color-base-lite: #00000040;
  --background-color: #fff;
  --color-for-like: #fff;
  --color-for-like-lite: #ffffff40;
  --background-image: url("../images/background2.png");
  --block-size: 219vw;
  --inline-size: 100vw;
  --min-screen-width: 375px;
  --max-screen-width: 1440px;
  --max-block-width: 696px;
  --font-color-lite: color-mix(in lch var(--font-color-base), transparent 25%);
  --font-opacity: .6; 
  --font-title-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  --font-subtitle-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  --font-card-size: 18px;
  --font-family-base: 'PressStart2P', 'fantasy', sans-serif;
  --font-family-card: 'Inter-Variable', 'Arial', sans-serif;
  --line-height-base: 100%;
  --line-height-min: 90%;
  --line-height-card-title: 21px;
  --line-height-max: 150%;
  --gradient-color: #d3d3d3;
  --header-background-gradient: linear-gradient( #E7E7E7, #1A1A1A );
  --color-svg: var(--background-color);
  --color-svg-base: var(--font-color-base);
  --opacity-aura: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-base: 465;
    --font-weight-bold: 785;
    --font-color-base: #00CC14;
    --font-color-base-lite: #00cc1440; 
    --background-color: #000;
    --color-for-like:  #00CC14;
    --color-for-like-lite: #00CC1440;
    --background-image: url("../images/background.png");
    --block-size: 219vw;
    --inline-size: 100vw;
    --min-screen-width: 375px;
    --max-screen-width: 1440px;
    --max-block-width: 696px;
    --font-color-lite: color-mix(in lch var(--font-color-base), transparent 25%);
    --font-opacity: .6; 
    --font-title-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --font-subtitle-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
    --font-card-size: 18px;
    --font-family-base: 'PressStart2P', 'fantasy', sans-serif;
    --font-family-card: 'Inter-Variable', 'Arial', sans-serif;
    --line-height-base: 100%;
    --line-height-min: 90%;
    --line-height-card-title: 21px;
    --line-height-max: 150%;
    --gradient-color: #000;
    --header-background-gradient: linear-gradient( #007F0C, #004306 );
    --color-svg: var(--background-color);
    --color-svg-base: var(--font-color-base);
    --opacity-aura: 0;

    fill: #00CC14; 
    stroke:#00CC14;
    }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight-base: 400;
    --font-weight-bold: 700;
    --font-color-base: #000; 
    --font-color-base-lite: #00000040;
    --background-color: #fff;
    --color-for-like: #fff;
    --color-for-like-lite: #ffffff40;
    --background-image: url("../images/background2.png");
    --block-size: 219vw;
    --inline-size: 100vw;
    --min-screen-width: 375px;
    --max-screen-width: 1440px;
    --max-block-width: 696px;
    --font-color-lite: color-mix(in lch var(--font-color-base), transparent 25%);
    --font-opacity: .6; 
    --font-title-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --font-subtitle-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
    --font-card-size: 18px;
    --font-family-base: 'PressStart2P', 'fantasy', sans-serif;
    --font-family-card: 'Inter-Variable', 'Arial', sans-serif;
    --line-height-base: 100%;
    --line-height-min: 90%;
    --line-height-card-title: 21px;
    --line-height-max: 150%;
    --gradient-color: #d3d3d3;
    --header-background-gradient: linear-gradient( #E7E7E7, #1A1A1A );
    --color-svg: var(--background-color);
    --color-svg-base: var(--font-color-base);
    --opacity-aura: 0;
  }
}