/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --font-weight-base: 465;
  --font-weight-bold: 785;
  --font-color-base: #00cc14;
  --font-color-base-lite: #00cc1440;
  --background-color: #000;
  --color-for-like: #00cc14;
  --color-for-like-lite: #00cc1440;
  --gradient-color: #000;
  --header-background-gradient: linear-gradient(#007f0c, #004306);
  --header-btn-left: 0;
  --header-btn-right: 6px;
  --header-btn-disable-right: 0px;
  --header-btn-disable-left: -6px;
  --water-mark-block-start: 20px;
  fill: #00cc14;
  stroke: #00cc14;
}

:root.theme-light {
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --font-color-base: #000;
  --font-color-base-lite: #00000040;
  --background-color: #fff;
  --color-for-like: #fff;
  --color-for-like-lite: #ffffff40;
  --gradient-color: #d3d3d3;
  --header-background-gradient: linear-gradient(#e7e7e7, #1a1a1a);
  --header-btn-left: 0;
  --header-btn-right: 0;
  --header-btn-disable-right: 10px;
  --header-btn-disable-left: -4px;
  fill: #000;
  stroke: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-base: 465;
    --font-weight-bold: 785;
    --font-color-base: #00cc14;
    --font-color-base-lite: #00cc1440;
    --background-color: #000;
    --color-for-like: #00cc14;
    --color-for-like-lite: #00cc1440;
    --gradient-color: #000;
    --header-background-gradient: linear-gradient(#007f0c, #004306);
    --header-btn-left: 4px;
    --header-btn-right: 12px;
    --header-btn-disable-right: 20px;
    --header-btn-disable-left: 0px;
    --water-mark-block-start: 20px;
    fill: #00cc14;
    stroke: #00cc14;
  }
}
